# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Environment variables / secrets
.env

# Alembic cache
.alembic/

# Pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python build files
build/
dist/
*.egg-info/

# SQLite
*.db

# Coverage reports
htmlcov/
.coverage

# Mypy cache
.mypy_cache/

# Temporary files
*.tmp